

<div class="sigmasoft iransans">
  <div class="  p-15 topnav Menu-Item-Animation  "    [ngClass]="{'responsive': toggleMenu==true}" id="myTopnav">

    <!--<div class="btn-border-animate">-->
    <!--<a href="#">-->
    <!--<p>Hover over me</p>-->
    <!--<div class="hoverBtn"></div>-->
    <!--<div class="hoverBtn-bottom"></div>-->
    <!--</a>-->
    <!--</div>-->
    <a href="#" >Sigma Learning</a>
    <a href="#"  class="active">صفحه اصلی</a>
    <a href="#course" >دوره ها آموزشی</a>
    <a href="#about">مقالات</a>
    <a href="#news">ارتباط با ما</a>
    <div class="dropdown">
      <button class="dropbtn">پروفایل
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">ناحیه کاربری</a>
        <a href="#">مشاهده پروفایل</a>
        <a href="#">افرایش اعتبار Vip</a>
      </div>
    </div>


    <a  class="icon" (click)="toggleMenu=!toggleMenu">  <div class="menu-toggle">
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div></a>
  </div>
</div>
