.topnav {
  background: linear-gradient(135deg,#314198 20%,#356584 80%);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}

/* Add an active class to highlight the current page */
.active {
  border-radius: 16px;
  color: #45627e !important;
  background: white;
  box-shadow: 0 3px 16px 1px #615555ad;

}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: all .5s ease-in-out;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  transition: all 4s ease-in-out;
}
.dropdown-content:before {
  border-left: 0;
  border-bottom: 0;
  content: " ";
  display: block;
  height: 12px;
  pointer-events: none;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 12px;
  background: #ffffff;
  top: -6px;
  left: 20px;
}


/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 16px 42px;
  text-decoration: none;
  display: block;
  text-align: center;

}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
  visibility: visible;
  transition: all 1.5s ease-in-out;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }

}
@media screen and (min-width: 600px) {
  .dropdown:hover .dropdown-content {
    display: block;
    position: fixed !important;
    left: 36px;
    visibility: visible;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    left: 10px;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
  }
}



































.btn-border-animate {
  width: 200px;
  margin: 50px auto;
  position: relative;
  border: 1px solid #9BAEC8;
  height: 45px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-border-animate:hover .hoverBtn:before, .btn-border-animate:hover .hoverBtn:after {
  opacity: 1;
  -webkit-animation: btnBorderX 0.3s;
  /* Chrome, Safari, Opera */
  animation: btnBorderX 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-direction: normal;
}
.btn-border-animate:hover .hoverBtn-bottom:before, .btn-border-animate:hover .hoverBtn-bottom:after {
  opacity: 1;
  -webkit-animation: btnBorderZ 0.3s;
  /* Chrome, Safari, Opera */
  animation: btnBorderZ 0.3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-direction: normal;
}
.btn-border-animate a p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: #9BAEC8;
  font-family: Lato, "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 0.8em;
  line-height: 45px;
}
.btn-border-animate a:hover p {
  color: #48E68B;
}

.hoverBtn {
  width: 100%;
  height: 45px;
  position: absolute;
  top: -1px;
}
.hoverBtn:before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  display: block;
  opacity: 0;
  border-top: solid 2.1px #48E68B;
  border-left: solid 2.1px #48E68B;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  right: 100px;
}
.hoverBtn:after {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  display: block;
  opacity: 0;
  border-top: solid 2.1px #48E68B;
  border-right: solid 2.1px #48E68B;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  left: 100px;
}

.hoverBtn-bottom {
  width: 100%;
  height: 45px;
  position: absolute;
}
.hoverBtn-bottom:before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  display: block;
  opacity: 0;
  height: 45px;
  border-bottom: solid 2.1px #48E68B;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  right: 0;
}
.hoverBtn-bottom:after {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  display: block;
  opacity: 0;
  height: 45px;
  border-bottom: solid 2.1px #48E68B;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  left: 0;
}

@keyframes btnBorderX {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 100px;
    height: 0;
  }
  100% {
    width: 100px;
    height: 45px;
  }
}
@keyframes btnBorderZ {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

























.Menu-Item-Animation a{
  position: relative;
  font-size: 1rem;
  /*padding: .5rem;*/
  margin: 0 1rem;

  text-align: center;
  transition: all .5s ease-in-out;
}

.Menu-Item-Animation a:before {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  left: 50%;
  border-radius: 2px;
  width: 0;
  height: 2px;
  background: hsla(0, 50%, 30%, 0);
  transition: all .5s ease-in-out;
}

.Menu-Item-Animation a:hover:before {
  left: 0.4rem;
  height: 2px;
  width: calc(100% - (0.1rem * 2));
  background: hsl(0, 0%, 100%);
}
.Menu-Item-Animation a:first-child:after {
  left: 200%;
}

.Menu-Item-Animation a:last-child:after {
  left: -100%;
}



.menu-toggle {
  width: 15px;
  height: 15px;
  background: #fff;
  padding: 24px;
  border-radius: 50%;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 30px -14px #000;
  position: absolute;
  top: -4px;
  right: -12px;
  cursor: pointer;
}


.menu-toggle span {
  display: block;
  width: 25px;
  height: 2px;
  background: #777;
  border-radius: 2px;
  transition: all 300ms ease;

  font-size: 21px;
  font-weight: 700;
}


.menu-toggle span:not(:last-child) {
  margin-bottom: 5px;
}


.menu-toggle span:first-child {
  width: 20px;
}


.menu-toggle span:last-child {
  width: 15px;
}
.menu-toggle:hover span:last-child {
  width: 100%;
}



.menu-toggle:hover span:first-child,.menu-toggle:hover span:last-child {
  width: 100%;
}





.ss-search-button:hover .submit-button {
  width: 25px;
  height: 25px;
  fill: #dddddd;
  transition: all 300ms ease;
}








