<div class="relations">
  <svg [style.width]="panel.size.width" [style.height]="panel.size.height">
    <g *ngFor="let relation of panel.relations" [ngClass]="relation.classes" 
    (click)="onrelationClick.emit(relation)"
    (dblclick)="onrelationDblClick.emit(relation)">
      <path fill="none" stroke-width="2" stroke-dasharray="20,5,5,5,5,5"  stroke="#86d530" [attr.d]="relation.path">
      </path>
      <text *ngIf="relation.name" class="name" [attr.x]="relation.center.x" [attr.y]="relation.center.y">{{relation.name}}</text>
    </g>
    <path *ngIf="connectingIO" fill="none" stroke="#86d530" stroke-width="2" stroke-dasharray="20,5,5,5,5,5" [attr.d]="connectingPath"></path>
  </svg>
</div>
<div class="nodes">
  <ss-chart-node class="ss-node" *ngFor="let node of panel.nodes" [node]="node" 
    (dragStart)="dragNodeStart($event)"
    (dragEnd)="dragNodeEnd()"
    (dblclick)="onnodeDblClick.emit(node)"
    (itemClick)="onitemClick.emit($event)"
    (itemDblClick)="onitemDblClick.emit($event)"
    (inputDblClick)="oninputDblClick.emit($event)"
    (outputDblClick)="onoutputDblClick.emit($event)"
    (connecting)="connecting($event)">
  </ss-chart-node>
</div>
