:host() {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow: auto;


  background-color: #636363;
    background-image: url(../../images/1.png)
}
svg {
    position: absolute;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    .relation {
        &:hover, &.selected {
            path {
                stroke: #e94362 !important;
            }
            text {
                fill: #e94362;
            }
        }
        text {
            fill: white;
            cursor: pointer;
            user-select: none;
        }
    }
}
