//==================================================================== Button
[class^="btn-"], [class*=" btn-"] {
    position: relative;
    font-size: 13px;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 3px;
    border-width: 0 0 3px;
    border-style: solid;
    outline: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0 2px 0 rgba(0,0,0,.1);
    transition: background-color 150ms ease,color 150ms ease;
    &:disabled,&.disabled {opacity:.4}
    @each $color in $colors {
        $name: nth($color,1);
        $value: nth($color,2);
        $forecolor: nth($color,3);
        &.btn-#{$name} {  
            background-color: $value;
            border-color: transparent transparent darken($value,10%); 
            color: $forecolor !important; 
        }
        &.btn-#{$name}-dark { 
            background-color: darken($value,10%);
            border-color: transparent transparent darken($value,20%); 
            color: $forecolor !important; 
        }
        &.btn-#{$name}-light { 
            background-color: lighten($value,10%);
            border-color: transparent transparent $value;
            color: $forecolor !important; 
        }
        &.btn-#{$name}-outline { 
            border-color: $value;
            border-width: 2px 2px 3px;
            color: darken($value, 10%) !important; 
            &:hover {
                color: $forecolor !important;
                background-color: $value;
            }
        }
    }
    &:not(:disabled){
        &:hover {opacity: .9;}
        &:active {
            box-shadow: none;
            transform: translateY(0);
        }
    }
    &.progress{
        position: relative;
        padding-left: 35px !important;
        &::before {
            content: '';
            position: absolute;
            top:50%;
            left:7px;
            width:15px;
            height:15px;
            opacity: .7;
            margin-right:5px;
            display: inline-block;
            border-style: solid;
            border-width: 3px;
            border-radius: 50%;
            border-color: #fff transparent;
            animation: btn-progress 750ms linear infinite;
        }
        @each $color in $colors {
            &.#{nth($color,1)}:before {
                border-color: nth($color,2) transparent; 
            }
        }
        &.btn:before {
            border-color: #fff transparent !important;
        }
    }
    @keyframes btn-progress {
        0% {transform: translateY(-50%) rotate(0deg)}
        100% {transform: translateY(-50%) rotate(360deg)}
    }
}
.link {
    border:none;
    color:inherit;
    cursor: pointer;
    background-color: transparent;
}
//==================================================================== Confirm Button
.btn-step {
    position: relative;
    display: inline-block;
    min-width:200px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
    transition:width 300ms ease;
    label {
        top:0;
        right:0;
        position: absolute;
        width:100%;
        height: 100%;
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        transition: width 300ms ease,transform 300ms ease;
        >*{height: 40px;display: flex;flex-direction: column;align-items: center;justify-content: center;}
        i{
            width:40px;
            font-size: 20px;
            background-color:#2a373f;
        }
        span {
            flex:1;
            border:none;
            cursor: pointer;
            padding: 0 15px;
        }
        &:not(:first-child) {transform: translateY(100%);}
        @each $color in $colors {
            $name: nth($color,1);
            $bgcolor: nth($color,2);
            $forecolor: nth($color,3);
            &.#{$name}>span {background-color:$bgcolor;color:$forecolor}
            &.#{$name}>i {color:#fff;}
        }
    }
    input {width: 0;}
    input:focus+label {transform: translateY(0)}
}