.card {
    background-color: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(25, 25, 25, 0.2);
    >.header {
        padding: 10px 15px;
        background-color: #f0f0f0;
    }
    >.content {
        padding: 20px;
    }
}