.dropdown {
  position: relative; }
  .dropdown > ul {
    position: absolute;
    top: -10000px;
    left: 0;
    padding: 0;
    margin: 0;
    min-width: 150px;
    opacity: 0;
    z-index: 100;
    color: #444;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 4px 0px #5d5a5a;
    transform: translateY(-20px);
    transition: transform 300ms ease,opacity 200ms ease,top 0ms linear 300ms; }
    .dropdown > ul > li {
      padding: 2px 10px 2px 30px;
      white-space: nowrap; }
      .dropdown > ul > li:hover {
        background-color: #f1f1f1; }
      .dropdown > ul > li > a {
        display: flex;
        flex-direction: row;
        padding: 5px;
        color: #757575; }
        .dropdown > ul > li > a i {
          min-width: 30px; }
        .dropdown > ul > li > a span, .dropdown > ul > li > a label {
          flex: 1; }
  .dropdown > *:focus + ul, .dropdown.hover > ul:hover {
    top: 100%;
    opacity: 1;
    transform: translateY(0);
    transition: transform 300ms ease,opacity 200ms ease; }
  .dropdown[dir="rtl"] > ul {
    left: initial;
    right: 0; }

/*# sourceMappingURL=dropdown.css.map */
