[class^="tab-"], [class*=" tab-"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    border-width: 1px 0;
    border-style: solid;
    border-color:#e9e9e9;
    padding:0;
    margin:0;
    overflow: hidden;
    background-color: #f5f5f5 !important;
    >* {
        position: relative;
        display: flex;
        white-space: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        font-size: 13px;
        transition: background-color 200ms ease,color 200ms ease;
        &:not([class^="col-"]):not([class*=" col-"]) {flex: 1;}
        &:hover {background-color: rgba(200,200,200,.4);}
        &.active {
            box-shadow: inset 0px 0px 3px 0px #777777;
        }
        a{display: block;width:100%;text-align: center;padding:10px 0;}
    }
    @each $color in $colors {
        $name: nth($color,1);
        $value: nth($color,2);
        $forecolor: nth($color,3);
        &.tab-#{$name}-light>*.active {background-color: lighten($value,10%) !important; color:$forecolor !important;}
        &.tab-#{$name}>*.active {background-color: $value !important; color:$forecolor !important;}
        &.tab-#{$name}-dark>*.active {background-color: darken($value,10%) !important; color:$forecolor !important;} 
    }
}