.table {
    width: 100%;
    border-collapse: collapse;
    td,th {
        white-space: nowrap;
        padding: 8px 10px;
        vertical-align: center;
    }
    td {
        text-align: justify;
    }
    th {
        text-align: center;
        font-weight: bold;
        color: #696969;
    }
    &.bordered {
        tr {border-bottom: 1px solid #e8e8e8;}
        tbody {
            td {
                border-left: 1px solid #e8e8e8;
                border-right: 1px solid #e8e8e8;
            }
            td:first-child {
                border-left: none;
            }
            td:last-child {
                border-right: none;
            }  
        }
        thead {
            tr {
                border-bottom-width: 2px;  
            }
        }
    }
    &.striped {
        thead, tfoot {
            // background-color: #3c5986;
            background: linear-gradient(to bottom, darken($blue,15%) 0%, darken($blue,12%) 50%, darken($blue,10%) 100%);
            td,th {
                text-align: center;
                color: #fff;
                border-left: 1px solid #0e6bbb;
                border-right: 1px solid #0e6bbb;
            }
            td:first-child,th:first-child {
                border-left: none;
            }
            td:last-child, th:last-child {
                border-right: none;
            }  
        }
        tbody:nth-child(2n)>tr:nth-child(2n) {background-color:#fff}
        tbody:nth-child(2n)>tr:nth-child(2n+1) {background-color: #f3f3f3}
        tbody:nth-child(2n+1)>tr:nth-child(2n) {background-color:#f3f3f3}
        tbody:nth-child(2n+1)>tr:nth-child(2n+1) {background-color: #fff}
    }
    &.hover {
        tbody {
            tr {
                transition: background-color 50ms ease;
                &:hover {
                    background-color: rgba(245, 226, 0, 0.2) !important;
                }
            }
        }
    }
    thead {
        font-size: 85%;
        tr {
            height: 45px;
        }
    }
    tbody {
        color: #5f5f5f;
        font-size: 80%;
        tr {
            height: 35px;
        }
    }
}