h1, h2, h3, h4, h5, h6 {
  color: #696969;
  margin: 0; }

hr {
  border-style: solid;
  border-color: #f6f6f6; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #999; }

p {
  font-size: 13px; }

label[for] {
  cursor: pointer; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none !important; }

i.mdi::before {
  display: inherit; }

.code {
  color: crimson;
  background-color: #f1f1f1;
  padding: 1px 4px;
  border-radius: 4px;
  font-size: 110%; }

/*# sourceMappingURL=typography.css.map */
