
[class^="checkbox-"], [class*=" checkbox-"] {
    opacity:0;
    &+label {cursor:pointer;padding: 6px;padding-left:20px;margin-left:-16px;position: relative;display: inline-block;}
    &+label:before,+label:after {content:'';position: absolute;display:block;top:50%;width:0;height:0;}
    &:disabled+label {opacity:.5;}
    &+label:before {
        left:0;
        padding:7px;
        border:2px solid #444;
        transition: background-color 300ms ease;
        transform:translateY(-50%);
    }
    &+label:after {
        opacity: 0;
        transition: opacity 500ms ease,transform 300ms ease;
        transform:translateY(-50%) rotate(0deg) scale(0);
    }
    &:checked+label:after {opacity: 1;transform:translateY(-50%) scale(1);}
    @each $color in $colors {
        $name:nth($color,1);
        $bgcolor:nth($color,2);
        $forecolor:nth($color,3);
        &.checkbox-#{$name}+label:before {border-color:$bgcolor;}
    }
    &+label:after {
        left:7px;
        border-style: solid;
        border-width: 0 2px 2px 0;
        border-color: transparent;
        top:calc(50% - 1px);
        padding:5px 2px;
    }
    &:checked+label:before {background-color: #999;}
    &:checked+label:after {border-color: #444;transform:translateY(-50%) rotate(33deg) scale(1);}
    
    @each $color in $colors {
        $name:nth($color,1);
        $bgcolor:nth($color,2);
        $forecolor:nth($color,3);
        &.checkbox-#{$name}:checked+label:before {background-color:$bgcolor;}
        &.checkbox-#{$name}+label:after {border-color:$forecolor;}
    }
}
[dir="rtl"] {
    [class^="checkbox-"], [class*=" checkbox-"] {
        &+label:after {right:15px;}
        &+label {padding-left:10px;padding-right:33px;margin-right:-16px;}
        &+label:before {right:10px;left:initial;}
        &+label:after {left:initial;}
    }
}
