::placeholder {
    color: rgb(165, 165, 165);
}
.form-control {
    width: 100%;
    min-height: 35px;
    outline: none;
    color:#636363;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    background-color: rgba(245, 245, 245, 0.788);
    border-radius: 2px 2px 0 0;
    background-repeat: no-repeat;
    background-position: 7px center;
    transition: border-color 250ms,box-shadow 250ms ease;
    &:focus {
        border-color: #efefef;
    }
    &[readonly] {
        background-size: 40px 40px;
        background-repeat: repeat;
        background-image: linear-gradient(45deg,
        #e6e6e61c 25%,
        transparent 25%,
        transparent 50%,
        #e6e6e61c 50%,
        #e6e6e61c 75%,
        transparent 75%,
        transparent
        );
    }
    &+.input-icon {
        position: absolute;
        top: 50%;
        right: 5px;
        color: #555;
        transform: translateY(-50%);
    }
}
[dir="rtl"] {
    left: 5px;
}
[dir="ltr"] {
    right: 5px;
}