.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #666;
  padding-top: 30px; }
  .form-group > .form-control {
    flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent #ccc; }
    .form-group > .form-control ~ .input-icon {
      position: absolute;
      top: calc(50% + 12.5px);
      left: 5px;
      transform: translateY(-50%); }
    .form-group > .form-control:focus + label {
      color: #797979 !important; }
    .form-group > .form-control:focus {
      box-shadow: inset 0 -1px 0px 0px #93c5fd; }
  .form-group > .form-group-addon, .form-group > label {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #a0a0a0;
    font-weight: bold;
    white-space: nowrap;
    transition: color 200ms ease; }

form .form-group .form-control:required + label::before {
  content: '*';
  color: #fc8181;
  padding: 5px 8px 0; }
form .form-group .form-control.ng-touched:valid, form .form-group .form-control.ng-touched.ng-valid {
  box-shadow: inset 0 -1px 0px 0px #68b76f; }
form .form-group .form-control.ng-touched:invalid, form .form-group .form-control.ng-touched.ng-invalid {
  box-shadow: inset 0 -1px 0px 0px #ffafa6; }

/*# sourceMappingURL=form-group.css.map */
