.input-group {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
  position: relative;
  min-height: 40px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3490196078); }
  .input-group > .form-control {
    flex: 1 1 auto;
    border: none;
    padding: 2 10px;
    z-index: 2;
    position: relative;
    border-radius: 20px;
    border: 4px solid #fff;
    background-color: #f7f7f7; }
    .input-group > .form-control:focus {
      box-shadow: inset 0px 0 0px 2px rgba(0, 116, 255, 0.24); }
  .input-group > label {
    margin: 4px;
    display: flex;
    font-size: 13px;
    padding: 0 5px 0 10px;
    color: #969696;
    white-space: nowrap;
    text-align: center;
    align-items: center;
    background-color: #e9ecef;
    border-radius: 20px 0 0 20px;
    position: relative; }
    .input-group > label:after {
      content: '';
      top: 0;
      right: -20px;
      bottom: 0;
      width: 20px;
      z-index: 0;
      position: absolute;
      background-color: inherit; }
    .input-group > label > * {
      display: flex;
      align-items: center;
      justify-content: center; }

form .input-group .form-control:required + label::before {
  content: '*';
  height: 8px;
  color: #fc8181;
  padding: 0 8px 0; }
form .input-group .form-control.ng-touched:valid, form .input-group .form-control.ng-touched.ng-valid {
  box-shadow: inset 0px 0 0px 2px #68b76f; }
form .input-group .form-control.ng-touched:invalid, form .input-group .form-control.ng-touched.ng-invalid {
  box-shadow: inset 0px 0 0px 2px #ffafa6; }

[dir="rtl"] .input-group > label {
  padding: 0 10px 0 5px;
  border-radius: 0 20px 20px 0; }
  [dir="rtl"] .input-group > label::after {
    right: initial;
    left: -20px; }

/*# sourceMappingURL=input-group.css.map */
