[class^="radio-"], [class*=" radio-"]  {
    opacity:0;
    &+label {cursor:pointer;padding: 6px;padding-left:20px;margin-left:-16px;position: relative;display: inline-block;}
    &+label:before,+label:after {content:'';position: absolute;display:block;top:50%;width:0;height:0;}
    &:disabled+label {opacity:.5;}
    &+label:before {
        left:0;
        padding:7px;
        border:2px solid #444;
        transition: background-color 300ms ease;
        transform:translateY(-50%);
    }
    &+label:after {
        opacity: 0;
        transition: opacity 500ms ease,transform 300ms ease;
        transform:translateY(-50%) rotate(0deg) scale(0);
    }
    &:checked+label:after {opacity: 1;transform:translateY(-50%) scale(1);}
    @each $color in $colors {
        $name:nth($color,1);
        $bgcolor:nth($color,2);
        $forecolor:nth($color,3);
        &.radio-#{$name}+label:before {border-color:$bgcolor;}
    }

    border: 1px solid #000;
    &+label:before {border-radius: 50%;background-color: #fff;}
    &+label:after {
        left:4px;
        padding:5px;
        border-radius: 50%;
    }
    &:checked+label:after {border-color: #444;}
    @each $color in $colors {
        $name:nth($color,1);
        $bgcolor:nth($color,2);
        $forecolor:nth($color,3);
        &.radio-#{$name}+label:after {background-color:$bgcolor;}
    }
}
[dir="rtl"] {
    [class^="radio-"], [class*=" radio-"] {
        &+label:after {right:14px;}
        &+label {padding-left:5px;padding-right:33px;margin-right:-16px;}
        &+label:before {right:10px;left:initial;}
        &+label:after {left:initial;}
    }
}