.ss-overlayer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    overflow: auto;
    display: flex;
    z-index: 100000000;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    transform: translateY(-100%);
    background-color: rgba(48, 56, 65, 0.5);
    transition: transform 0ms linear 300ms, opacity 300ms ease;
    .ss-dialog {
        top: 100px;
        position: absolute;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0px 1px 4px #4c4c4c;
        &.dragging {
            .ss-header {cursor: move;}
        }
        .ss-header {
            color:#fff;
            padding: 10px 20px;
            border-bottom: 1px solid #eee;
            display: flex;
            flex-direction: row;
            align-items: center;
            background: linear-gradient(to bottom, darken(#4399e2,15%) 0%, darken(#4399e2,12%) 50%, darken(#4399e2,10%) 100%);
            * {display: flex;}
            .title {flex: 1;}
            .close {
                width:30px;
                color: #d2d2d2;
                &:hover { opacity: .5; }
                i {display: inline-block;height:20px;font-size: 20px;}
            }
        }
        .ss-content {
            flex:1;
            overflow: auto;
            padding: 20px;
        }
    }
    &.ss-show {
        opacity: 1;
        transform:translateY(0);
        transition: opacity 300ms ease;
    }
}
