.waveCont-bg {

  width: 100%;
  /*position: absolute;*/
  /*top: -1%;*/
  /*z-index: 0;*/
  background-repeat: no-repeat;
  background-image: url(../../../../images/wave-1.svg);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.ss-ss-footer{
  width: 100%;
  height: 55vh;
  background-image: linear-gradient(#32518e,#130549);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
