<div [dir]="datatable.language.dir">
  <div class="ss-header">
    <div class="ss-buttons start">
      <ng-content select="[header-start-before]"></ng-content>
      <div *ngFor="let item of datatable.buttons">
        <button [ngClass]="item.className" [disabled]="item.isenable != null && !item.isenable()" (click)="item.onclick.emit()">
          <i *ngIf="item.icon" class="hidden-sm-up" [ngClass]="item.icon"></i>
          <span class="hidden-sm-down">{{item.text}}</span>
        </button>
        <ng-content select="[header-start-after]"></ng-content>
      </div>
    </div>
    <div class="ss-buttons end">
      <ng-content select="[header-end-before]"></ng-content>
      <div class="ss-limit" *ngIf="datatable.options.limitation">
        <select class="form-control" [(ngModel)]="datatable.limit" (change)="onlimitChange.emit(datatable.limit)">
          <option *ngFor="let item of datatable.limits" [ngValue]="item">{{item}}</option>
        </select>
      </div>
      <div class="columns" *ngIf="datatable.options.columnOptions?.visibility">
        <button class="btn-turquise" (click)="columnsModal.open()">
          <span class="hidden-sm-down">{{datatable.language.columns}}</span>
        </button>
      </div>
      <div *ngIf="datatable.options?.searchable && datatable.hasFilter">
        <button class="btn-orange" (click)="datatable.clearFilters()">
          <span class="hidden-sm-down">{{datatable.language.clearFilters}}</span>
        </button>
      </div>
      <div *ngIf="datatable.options?.savable && datatable.hasSavedOptions">
        <button class="btn-blue" (click)="datatable.deleteOptions()">
          <span class="hidden-sm-down">{{datatable.language.defaultState}}</span>
        </button>
      </div>
      <div *ngIf="datatable.options?.savable">
        <button class="btn-violet" (click)="datatable.saveOptions()">
          <span class="hidden-sm-down">{{datatable.language.saveState}}</span>
        </button>
      </div>
      <div *ngIf="datatable.options?.exportOptions?.print">
        <button class="btn-red" onclick="print()" [disabled]="datatable.progress">
          <span class="hidden-sm-down">{{datatable.language.print}}</span>
        </button>
      </div>
      <div *ngIf="datatable.options?.exportOptions?.excel">
        <button class="btn-green" (click)="excel()" [disabled]="datatable.progress">
          <span class="hidden-sm-down">{{datatable.language.excel}}</span>
        </button>
      </div>
      <div *ngIf="datatable.onrefresh.observers.length > 0">
        <button class="btn-blue" (click)="datatable.onrefresh.emit()" [disabled]="datatable.progress">
          <span class="hidden-sm-down">{{datatable.language.refresh}}</span>
        </button>
      </div>
    </div>
    <ng-content select="[header-end-after]"></ng-content>
  </div>
  <div class="ss-data" [style.min-height]="minHeight">
    <table class="table bordered striped hover">
      <thead>
        <tr>
          <th *ngIf="datatable.options.rowOptions?.selectable" width="15px" style="text-align: center;">
            <input *ngIf="!datatable.options?.searchable" type="checkbox" [(ngModel)]="datatable.checkedAll" (change)="datatable.checkedAll = $event.target.checked" />
          </th>
          <th *ngFor="let column of datatable.columnsSorted;let index = index" [ngStyle]="{width:column.width}"
            [ngClass]="column.getHeaderClass(datatable,index)" (click)="datatable.progress ? null : datatable.sort = index">{{column.title}}</th>
          <th class="print-hide" *ngFor="let menu of datatable.menus"></th>
        </tr>
      </thead>
      <tbody *ngIf="datatable.options?.searchable" class="ss-search">
        <tr>
          <td *ngIf="datatable.options.rowOptions?.selectable" width="15px" style="text-align: center;">
            <input type="checkbox" [(ngModel)]="datatable.checkedAll" (change)="datatable.checkedAll = $event.target.checked" />
          </td>
          <td *ngFor="let column of datatable.columnsSorted;let index = index" [ngClass]="column.getSearchClass()">
            <div *ngIf="column.search.enable" [ngClass]="{hasSearch:column.search.value}">
              <ng-template *ngIf="column.search.template; else elseSearch" [ngTemplateOutlet]="column.search.template"
                [ngTemplateOutletContext]="{$implicit: column}"></ng-template>
              <ng-template #elseSearch>
                <div [ngSwitch]="column.search.type">
                  <ng-container *ngSwitchCase="0">
                    <input class="form-control" [(ngModel)]="column.search.value" placeholder="{{datatable.language.search}}"/>
                    <a *ngIf="column.search.value" class="input-icon" (click)="column.search.clear()">
                      <i class="mdi mdi-filter-remove-outline"></i>
                    </a>
                    <span *ngIf="!column.search.value" class="input-icon">
                      <i class="mdi mdi-filter-outline"></i>
                    </span>
                  </ng-container>
                  <ng-container *ngSwitchCase="1">
                    <select class="form-control" [(ngModel)]="column.search.value" (change)="column.onsearch.emit(column.search.value)">
                      <option [ngValue]="undefined">{{datatable.language.choose}}</option>
                      <option *ngFor="let item of column.getSearchItems(datatable.rows)" [ngValue]="item">{{item}}</option>
                    </select>
                  </ng-container>
                </div>
              </ng-template>
            </div>
          </td>
          <td class="print-hide" *ngFor="let menu of datatable.menus"></td>
        </tr>
      </tbody>
      <tbody *ngFor="let row of datatable.rowsResult;let rowIndex = index" [ngClass]="row.getClass()">
        <tr title="{{onrowDoubleClick.observers.length > 0 ? 'دوبار کلیک کنید' : ''}}">
          <td *ngIf="datatable.options.rowOptions?.selectable">
            <input type="checkbox" [(ngModel)]="row.selected" />
          </td>
          <td *ngFor="let column of datatable.columnsSorted" [ngClass]="column.getClass(row)" (dblclick)="onrowDoubleClick.emit(row)"
            (click)="onrowClick.emit(row)">
            <div *ngIf="row.editing && column.edit && column.edit.enable; else elseEdit" [ngSwitch]="column.edit.type">
              <ng-container *ngSwitchCase="0">
                <input class="form-control" [(ngModel)]="row.temp[column.edit.name]" (change)="column.edit.onchange($event)"
                  (keydown)="column.edit.onkeydown($event)" />
              </ng-container>
              <ng-container *ngSwitchCase="1">
                <select class="form-control" [compareWith]="column.edit.compareWith" [(ngModel)]="row.temp[column.edit.name]">
                  <option [ngValue]="undefined">{{datatable.language.choose}}</option>
                  <option *ngFor="let item of column.edit.items" [ngValue]="item">{{item.value}}</option>
                </select>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <ng-template *ngIf="column.edit.template" [ngTemplateOutlet]="column.edit.template"
                  [ngTemplateOutletContext]="{$implicit: row, column: column, row: row, value: column.edit.value }"></ng-template>
              </ng-container>
            </div>
            <ng-template #elseEdit>
              <ng-template *ngIf="column.template; else elseTemplate" [ngTemplateOutlet]="column.template"
                [ngTemplateOutletContext]="{$implicit: row, column: column, row: row, value: column.getHtml(row) }"></ng-template>
              <ng-template #elseTemplate>
                <div [innerHtml]="column.getHtml(row)"></div>
              </ng-template>
            </ng-template>
          </td>
          <td class="menu more print-hide" *ngFor="let menu of datatable.menus" [ngClass]="menu.getClass()">
            <a>
              <i class="mdi mdi-dots-vertical"></i>
            </a>
            <ul *ngIf="menu.isenable(row)">
              <li *ngFor="let item of menu.items">
                <button [disabled]="!item.isenable(row)" [title]="item.tooltip && item.isenable(row) ? item.tooltip : ''"
                  [ngClass]="item.className" (click)="item.onclick.emit(row)">
                  <i *ngIf="item.icon" [ngClass]="item.icon"></i>
                  <span *ngIf="item.text">{{item.text}}</span>
                </button>
              </li>
            </ul>
          </td>
        </tr>
        <tr *ngIf="row.collapse && datatable.collapse">
          <td [colSpan]="datatable.columnCount">
            <ng-template [ngTemplateOutlet]="datatable.collapse.template" [ngTemplateOutletContext]="{$implicit: row, obj: collapseObj}"></ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="ss-progress" [ngClass]="{show:datatable.progress}">
      <div class="indeterminate"></div>
    </div>
  </div>
  <div class="ss-footer">
    <div class="ss-pagination" *ngIf="datatable.options.paging">
      <ng-content select="[footer-start-before]"></ng-content>
      <ul class="align left">
        <li class="arrow first">
          <button (click)="datatable.firstPage()" [disabled]="datatable.progress || datatable.page < 2">
            <i class="mdi mdi-chevron-double-right"></i>
          </button>
        </li>
        <li class="arrow prev">
          <button (click)="datatable.prevPage()" [disabled]="datatable.progress || datatable.page < 2">
            <i class="mdi mdi-chevron-right"></i>
          </button>
        </li>
        <li class="arrow next">
          <button (click)="datatable.nextPage()" [disabled]="datatable.progress || datatable.page >= datatable.pageCount">
            <i class="mdi mdi-chevron-left"></i>
          </button>
        </li>
        <li class="arrow last">
          <button (click)="datatable.lastPage()" [disabled]="datatable.progress || datatable.page >= datatable.pageCount">
            <i class="mdi mdi-chevron-double-left"></i>
          </button>
        </li>
        <li>{{datatable.language.page}} {{datatable.page}} {{datatable.language.of}} {{datatable.pageCount}}</li>
      </ul>
      <ng-content select="[footer-start-after]"></ng-content>
    </div>
    <div class="ss-info">
      <ng-content select="[footer-end-before]"></ng-content>
      <span>{{datatable.language.show}} {{datatable.rowIndexFrom}} ~ {{datatable.rowIndexTo}} {{datatable.language.of}}
        {{datatable.rowsFilterCount}} {{datatable.language.row}}</span>
      <ng-content select="[footer-end-after]"></ng-content>
    </div>
  </div>
  <div *ngIf="datatable.message" class="alert-red my-5">{{datatable.message}}</div>
</div>
<ss-overlay-modal [modal]="columnsModal" class="ss-columnsOption">
  <div *ngIf="columnsModal.iscontentShow">
    <div class="py-10">
      <button [disabled]="!selectedColumn || selectedColumn.order < 2" class="btn-red-dark mx-5" (click)="datatable.setOrder(selectedColumn, selectedColumn.order - 1)"><i
          class="mdi mdi-arrow-up"></i></button>
      <button [disabled]="!selectedColumn || selectedColumn.order > datatable.columns.length - 1" class="btn-green-dark mx-5"
        (click)="datatable.setOrder(selectedColumn, selectedColumn.order + 1)"><i class="mdi mdi-arrow-down"></i></button>
    </div>
    <table class="table striped bordered" style="min-width:500px;">
      <thead>
        <tr>
          <th>{{datatable.language.columns}}</th>
          <th width="1px">{{datatable.language.show}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let column of datatable.columnsSorted;let index = index" (click)="selectedColumn = column"
          [ngClass]="{selected: (column == selectedColumn)}">
          <td>{{column.title}}</td>
          <td>
            <input type="checkbox" [(ngModel)]="column.visible" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ss-overlay-modal>
