
.ss-main-bg {
  overflow: hidden;
  /*background: linear-gradient(135deg,#1abc9c 20%,#2980b9 80%);*/
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}
.ss-main-bg:before {
  background-image: url(../../../../images/icon-set-1.png);

  background-position: 50%;
  background-size: 250px;
  position: absolute;
  top: 0;
  left: 0;
  height: 400%;
  width: 100%;
  display: block;
  z-index: 0;
  content: "";
  opacity: .05;
  pointer-events: none;
}


.ss-card {
  z-index: 0;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(25, 25, 25, 0.15);;
  transition: all 0.3s;
  transform: translateY(-4px);
}
.ss-hover-yellow:hover {

  box-shadow: 0 0 0 2px #3f4fb5, 0 22px 43px rgba(0,0,0,0.15);
}
.ss-hover:hover {

  box-shadow: 0 0 30px 2px #0000004a, 0 22px 43px rgba(0,0,0,0.15);
}
.ss-hover:hover .ss-card-footer {
  height: 50px;
  /*background: rgba(0, 176, 105, 0.35);*/
  /*border-top-color: #f1d01c;*/
}
.ss-card-content {
  padding: 40px 35px 35px 35px;
  text-align: center;
}
.ss-card-footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  /*background: #eee;*/
  /*border-top: 1px solid #ddd;*/
  border-radius: 0 0 5px 5px;
  transition: all 0.25s ease;
}

.ss-card-bg{
  background-image: url(../../../../images/tiles-bg.png);
}

.ss-card-img {
  /*background-image: url(../../../../images/d3.jpg);*/
}



.sigmasoft [class^="radio-"]+label:before, .sigmasoft [class*=" radio-"]+label:before {
  right: 0 !important;}

.sigmasoft [class^="radio-"]+label:after, .sigmasoft [class*=" radio-"]+label:after {
  right: 4px!important;}
@media screen and (max-width: 993px) {
  .ss-margin-card{
    margin: 20px !important;
  }

  .ss-with-filter-btn{
    width: 90% !important;
  }
}
