<div class="sigmasoft iransans">

  <div class="ss-main-bg">
    <div class="row my-50 ">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <div class="col-md-12  " >

              <a class="p-15  my-20 ss-with-filter-btn btn-turquise-outline" style="border-radius: 25px;width: 100%">فیلتر کن</a >
                <div class="my-20 ss-margin-card  ss-card" style="height: 300px">
                  <div class="ss-card-content flex " style="flex-direction: column;">


                    <input class="radio-blue" id="r1" name="test" type="radio">
                    <label  for="r1">تاریخ انتشار</label>

                    <input class="radio-blue" id="r2" name="test" type="radio">
                    <label  for="r2">مدت زمان دوره</label>

                    <input class="radio-blue" id="r3" name="test" type="radio">
                    <label  for="r3">قیمت</label>
                  </div>

                </div>

              <div class="my-20  ss-margin-card ss-card" style="height: 300px">
                <div class="ss-card-content flex " style="flex-direction: column;">


                  <input class="radio-blue" id="rt-1" name="test" type="radio">
                  <label  for="rt-1">همه </label>

                  <input class="radio-blue" id="rt-2" name="test" type="radio">
                  <label  for="rt-2">رایگان  </label>

                  <input class="radio-blue" id="rt-3" name="test" type="radio">
                  <label  for="rt-3">نقدی</label>

                  <input class="radio-blue" id="rt-4" name="test" type="radio">
                  <label  for="rt-4">اعضای ویژه</label>
                </div>
              </div>

              <div class="my-20  ss-margin-card ss-card" style="height: 300px">
                <div class="ss-card-content flex " style="flex-direction: column;">


                  <input class="radio-blue" id="rtr-1" name="test" type="radio">
                  <label  for="rtr-1">جدید ترین </label>

                  <input class="radio-blue" id="rtr-2" name="test" type="radio">
                  <label  for="rt-2">قدیمی ترین  </label>

                  <input class="radio-blue" id="rtr-3" name="test" type="radio">
                  <label  for="rtr-3">در حال برگزاری</label>

                  <input class="radio-blue" id="rtr-4" name="test" type="radio">
                  <label  for="rtr-4">تکمیل شده</label>
                </div>
              </div>

            </div>
            <div class="col-md-12 m-20 " style="height: 300px"></div>
          </div>
          <div class="col-md-9">
            <div class="m-20 ss-card">
              <div class="row  flex" style="justify-content: space-between;">
                <h4 class="p-20" >همه دوره ها</h4>
              </div>
              <div class="col-md-12">
                <div class="row ">
                  <div class="col-md-6" >
                    <div class="m-20  ss-card ss-hover-yellow" style="height: 300px">
                      <div class="ss-card-content">
                        <div class="ss-card-img ">
                          <img width="100%" height="auto" src="https://www.amphinicy.com/upload/blog/1000/39_d3logo.png">
                        </div>
                        <h4 class="mt-10">آموزش  D3 </h4>
                      </div>
                      <div class="ss-card-footer flex" style="justify-content: space-between;">
                        <p class="px-35 color-turquise-dark"> اعضای ویژه </p>
                        <p class="px-35">30:19:42      <a><i class="mdi mdi-clock font-15 "></i></a></p>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-6" >
                    <div class="m-20  ss-card ss-hover-yellow" style="height: 300px">
                      <div class="ss-card-content">
                        <div class="ss-card-img ">
                          <img width="100%" height="auto" src="https://roocket.ir/public/image/2018/9/23/flutter-1.png">
                        </div>
                        <h4 class="mt-10">آموزش Flutter </h4>
                      </div>
                      <div class="ss-card-footer flex" style="justify-content: space-between;">
                        <p class="px-35 color-turquise-dark">  100,000 تومان </p>
                        <p class="px-35">20:19:00      <a><i class="mdi mdi-clock font-15 "></i></a></p>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row ">
                  <div class="col-md-6" >
                    <div class="m-20  ss-card ss-hover-yellow" style="height: 300px"></div>
                  </div>
                  <div class="col-md-6 " >
                    <div class="m-20  ss-card ss-hover-yellow" style="height: 300px"></div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

