<ng-container *ngIf="!template; else elseBlock">
  <div class="ss-header" [ngClass]="{dragging: (dragNode == node)}" (mousedown)="dragStart($event,node)" (mouseup)="dragEnd()">
    {{node.name}}
  </div>
  <ul class="ss-items">
    <ss-charts-node-item *ngFor="let item of node.items" [item]="item"
    (itemClick)="onitemClick.emit($event)"
    (itemDblClick)="onitemDblClick.emit($event)"
    (inputDblClick)="oninputDblClick.emit($event)"
    (outputDblClick)="onoutputDblClick.emit($event)"
    (relationDblClick)="onrelationDblClick.emit($event)"
    (connecting)="onconnecting.emit($event)"
    ></ss-charts-node-item>
  </ul>
</ng-container>
<ng-template #elseBlock [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{$implicit: node }"></ng-template>
