:host() {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .image {
        width: 350px;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/404.png);
    }
}