<ul>
    <li *ngFor="let item of getItems()" [ngClass]="{'open':item.isOpen,'file':item.isFile()}">
        <a class="toggle" (click)="toggle(item)"></a>
        <a class="text" [ngClass]="{active:selectedItem == item}" (click)="select(item)">{{item.text}}</a>
        <ss-data-treeview *ngIf="item.items?.length && item.isOpen" [items]="item.items" [parent]="item" [filter]="filter" (onselect)="select($event)"></ss-data-treeview>
    </li>
</ul>