<ss-charts-node-io *ngIf="item.input && item.input.visible" [io]="item.input" 
    [ngClass]="item.input.getClasses()" class="input"
    (dblclick)="oninputDblClick.emit(item.input)"
    (connecting)="onconnecting.emit($event)"
    ></ss-charts-node-io>
<a (dblclick)="onitemDblClick.emit(item)" (click)="onitemClick.emit(item)">{{item.name}}</a>
<ss-charts-node-io *ngIf="item.output && item.output.visible" [io]="item.output" 
    [ngClass]="item.output.getClasses()" class="output"
    (dblclick)="onoutputDblClick.emit(item.output)"
    (connecting)="onconnecting.emit($event)"
    ></ss-charts-node-io>