.ss-main-bg {
  overflow: hidden;
  /*background: linear-gradient(135deg,#1abc9c 20%,#2980b9 80%);*/
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}
 .ss-main-bg:before {
  background-image: url(../../../../images/icon-set-1.png);

   background-position: 50%;
   background-size: 250px;
   position: absolute;
   top: 0;
   left: 0;
   height: 400%;
   width: 100%;
   display: block;
   z-index: 0;
   content: "";
   opacity: .05;
   pointer-events: none;
}


.ss-main {

}








.ss-search-form {
  /*position: relative;*/
  /*top: 50%;*/
  /*right: 10%;*/
  /*width: 600px;*/
  height: 60px;
  border-radius: 20px;
  box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.35);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
  margin-top: 25px;
}
.ss-search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.ss-search-input {
  position: absolute;
  top: 20px;
  right: 160px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 196px;
  height: 20px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.ss-search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.ss-search-button {
  position: absolute;
  top: 15px;
  left: 13px;
  height: 35px;
  width: 35px;
  padding: 8px;
  margin: 0;
  border: 0;
  border-radius: 50px;
  background-color: #3f4fb5;
  outline: none !important;
  cursor: pointer;
  box-shadow: 5px 3px 17px 2px rgba(0, 0, 0, 0.25);
}
.ss-search-button svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.ss-search-option {
  position: absolute;
  text-align: right;
  top: 17px;
  right: 15px;
}
.ss-search-option div {
  position: relative;
  display: inline-block;
  margin: 0 0;
  cursor: pointer;
}
.ss-search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}
.ss-search-option div span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  background: #929AA3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  transition: all .2s ease-in-out;
}
.ss-search-option div span::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-top: 4px solid #929AA3;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all .2s ease-in-out;
}
.ss-search-option div:hover span {
  opacity: 1;
  top: -21px;
}
.ss-search-option div label {
  display: block;
  cursor: pointer;
}
.ss-search-option div svg {
  height: 29px;
  width: 29px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all .2s ease-in-out;
  pointer-events: none;
}
.ss-search-option div:hover svg {
  opacity: 1;
}
.ss-search-option div input:checked + label svg {
  fill: #3f4fb5;
  opacity: .9;
}
.ss-search-option div input:checked + label span {
  background: #3f4fb5;
}
.ss-search-option div input:checked + label span::after {
  border-top-color: #3f4fb5;
}






.ss-card {
  z-index: 0;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(25, 25, 25, 0.15);;
  transition: all 0.3s;
  transform: translateY(-4px);
}
.ss-hover-yellow:hover {

  box-shadow: 0 0 0 2px #3f4fb5, 0 22px 43px rgba(0,0,0,0.15);
}
.ss-hover:hover {

  box-shadow: 0 0 30px 2px #0000004a, 0 22px 43px rgba(0,0,0,0.15);
}
 .ss-hover:hover .ss-card-footer {
  height: 50px;
  /*background: rgba(0, 176, 105, 0.35);*/
  /*border-top-color: #f1d01c;*/
}
.ss-card-content {
  padding: 40px 35px 35px 35px;
  text-align: center;
}
.ss-card-footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  /*background: #eee;*/
  /*border-top: 1px solid #ddd;*/
  border-radius: 0 0 5px 5px;
  transition: all 0.25s ease;
}

.ss-card-bg{
  background-image: url(../../../../images/tiles-bg.png);
}

.ss-card-img {
  /*background-image: url(../../../../images/d3.jpg);*/
}







.ss-waveCont-bg-down {

  width: 100%;
  /*position: absolute;*/
  /*top: -1%;*/
  /*z-index: 0;*/
  background-repeat: no-repeat;
  background-image: url(../../../../images/wave-1.svg);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.ss-waveCont-bg {

  width: 100%;
  /*position: absolute;*/
  /*top: -1%;*/
  /*z-index: 0;*/
  background-repeat: no-repeat;
  background-image: url(../../../../images/wave-1.svg);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


.ss-waveCont-bg2 {

  width: 100%;
  /*position: absolute;*/
  /*top: -1%;*/
  /*z-index: 0;*/
  background-repeat: no-repeat;
  background-image: url(../../../../images/wave-1.svg);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.ss-waveCont-bg-down2 {

  width: 100%;
  /*position: absolute;*/
  /*top: -1%;*/
  /*z-index: 0;*/
  background-repeat: no-repeat;
  background-image: url(../../../../images/wave-1.svg);
  -webkit-transform: scale(-1);
  transform: scale(-1);
}


.ss-ss-wave{
  width: 100%;
  height: 55vh;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}





