<div [ngSwitch]="layout">
  <ng-container *ngSwitchCase="0">
    <div class="p-10" [ngClass]="getTemplateClass(template)" *ngFor="let template of templates">
      <ng-template [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{$implicit: template}"></ng-template>
    </div>
    <div class="p-10">
      <ng-template [ngTemplateOutlet]="addTemplate"></ng-template>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="1">
    <div class="row">
      <div class="p-10" [ngClass]="[getResponsiveClass(),getTemplateClass(template)]" *ngFor="let template of templates">
        <ng-template [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{$implicit: template}"></ng-template>
      </div>
      <div class="p-10" [ngClass]="[getResponsiveClass()]">
        <ng-template [ngTemplateOutlet]="addTemplate"></ng-template>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <div class="p-10" [ngClass]="getTemplateClass(templates.first)">
      <ng-template [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{$implicit: templates.first}"></ng-template>
    </div>
    <div class="row">
      <div class="p-10" [ngClass]="[getResponsiveClass(),getTemplateClass(template)]" *ngFor="let template of getAfter(0)">
        <ng-template [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{$implicit: template}"></ng-template>
      </div>
      <div class="p-10" [ngClass]="[getResponsiveClass()]">
        <ng-template [ngTemplateOutlet]="addTemplate"></ng-template>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="3">
    <div class="p-10" [ngClass]="getTemplateClass(templates.first)">
      <ng-template [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{$implicit: templates.first}"></ng-template>
    </div>
    <div class="row">
      <div *ngIf="templates.length > 1" class="col-sm-6 p-10" [ngClass]="getTemplateClass(get(1))">
        <ng-template [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{$implicit: get(1)}"></ng-template>
      </div>
      <div *ngIf="templates.length > 2" class="col-sm-6 p-10" [ngClass]="getTemplateClass(get(2))">
        <ng-template [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{$implicit: get(2)}"></ng-template>
      </div>
    </div>
    <div class="row">
      <div class="p-10" [ngClass]="[getResponsiveClass(),getTemplateClass(template)]" *ngFor="let template of getAfter(2)">
        <ng-template [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{$implicit: template}"></ng-template>
      </div>
      <div class="p-10" [ngClass]="[getResponsiveClass()]">
        <ng-template [ngTemplateOutlet]="addTemplate"></ng-template>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="4">
    <div class="row">
      <div class="col-sm-6 p-10" [ngClass]="getTemplateClass(template)" *ngFor="let template of templates">
        <ng-template [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{$implicit: template}"></ng-template>
      </div>
      <div class="col-sm-6 p-10">
        <ng-template [ngTemplateOutlet]="addTemplate"></ng-template>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="5">
    <div class="row">
      <div class="col-sm-3 p-10" [ngClass]="getTemplateClass(get(0))">
        <ng-template *ngIf="templates.length > 0" [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{$implicit: get(0)}"></ng-template>
      </div>
      <div class="col-sm-9">
        <div class="p-10" [ngClass]="getTemplateClass(template)" *ngFor="let template of getAfter(0)">
          <ng-template [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{$implicit: template}"></ng-template>
        </div>
        <div class="p-10">
          <ng-template [ngTemplateOutlet]="addTemplate"></ng-template>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="6">
    <div class="row">
      <div class="col-sm-9">
        <div class="p-10" [ngClass]="getTemplateClass(template)" *ngFor="let template of getAfter(0)">
          <ng-template [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{$implicit: template}"></ng-template>
        </div>
        <div class="p-10">
          <ng-template [ngTemplateOutlet]="addTemplate"></ng-template>
        </div>
      </div>
      <div class="col-sm-3 p-10" [ngClass]="getTemplateClass(get(0))">
        <ng-template *ngIf="templates.length > 0" [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{$implicit: get(0)}"></ng-template>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="7">

  </ng-container>
</div>
<ng-template #cardTemplate let-template>
  <div class="card p-10" draggable="true" (drop)="onDrop($event, template)" (dragover)="allowDrop($event, template)" (dragend)="onDragEnd($event, template)"
    (dragstart)="onDragStart($event, template)">
    <ng-template [ngTemplateOutlet]="template"></ng-template>
  </div>
</ng-template>
<ng-template #addTemplate>
  <div class="card p-10">
    <div *ngIf="add != undefined; else addNotExists">
      <ng-template [ngTemplateOutlet]="add"></ng-template>
    </div>
    <ng-template #addNotExists>
      <a class="addNotExists" (click)="onadd.emit()">+</a>
    </ng-template>
  </div>
</ng-template>
