<div (click)="focus()" *ngIf="show">
    <div class="date" *ngIf="date">
        <div class="header">
            <a class="icon prev-year" (click)="prevMonth()"><i class="mdi mdi-chevron-down"></i></a>
            <a class="month" (click)="toggleMonth()">{{monthesName[item.getMonth() - 1]}}</a>
            <a class="icon next-year" (click)="nextMonth()"><i class="mdi mdi-chevron-up"></i></a>
            <a class="today" (click)="today()"><i class="mdi mdi-google-nearby font-14"></i></a>
            <a class="icon prev-year" (click)="prevYear()"><i class="mdi mdi-chevron-down"></i></a>
            <a class="year" (click)="toggleYear()">{{item.getYear()}}</a>
            <a class="icon next-year" (click)="nextYear()"><i class="mdi mdi-chevron-up"></i></a>
        </div>
        <div class="content">
            <div class="day-dialog">
                <div class="weekDays">
                    <span *ngFor="let week of weekDaysName">{{week}}</span>
                </div>
                <div class="days">
                    <button *ngFor="let day of getDays();let index = index" 
                    [ngClass]="{day:day != null,active: (day && isActive(day))}" 
                    [disabled]="!day || isDisabled(day,index)" 
                    (click)="setDay(day)">{{day}}</button>
                </div>
            </div>
            <div class="month-dialog" [ngClass]="{show:monthDialog}">
                <button *ngFor="let month of monthesName;let index = index" [ngClass]="{active:index == item.getMonth() - 1}" (click)="setMonth(index + 1)">{{month}}</button>
            </div>
            <div class="year-dialog" [ngClass]="{show:yearDialog}">
                <input id="year" class="form-control" type="number" [ngModel]="item.getYear()" (change)="setYear($event.target.value)" (keydown.enter)="setValue()" (blur)="setValue()"/>
            </div>
        </div>
    </div>
    <div *ngIf="date && time"><hr></div>
    <div class="time row" style="justify-content: center" *ngIf="time">
        <div class="col-xxs-4 px-10 col align-center hour">
            <a (click)="addHours(1)"><i class="mdi mdi-chevron-up"></i></a>
            <input class="form-control align-center" [ngModel]="item.getHour()" (change)="setHour($event.target.value)"/>
            <a (click)="addHours(-1)"><i class="mdi mdi-chevron-down"></i></a>
        </div>
        <div class="col-xxs-4 px-10 col align-center minute">
            <a (click)="addMinutes(1)"><i class="mdi mdi-chevron-up"></i></a>
            <input class="form-control align-center" [ngModel]="item.getMinute()" (change)="setMinute($event.target.value)"/>
            <a (click)="addMinutes(-1)"><i class="mdi mdi-chevron-down"></i></a>
        </div>
        <div class="col-xxs-4 px-10 col align-center second">
            <a (click)="addSeconds(1)"><i class="mdi mdi-chevron-up"></i></a>
            <input class="form-control align-center" [ngModel]="item.getSecond()" (change)="setSecond($event.target.value)"/>
            <a (click)="addSeconds(-1)"><i class="mdi mdi-chevron-down"></i></a>
        </div>
    </div>
</div>