

<div class="sigmasoft iransans">

  <div class="ss-main-bg">



    <div class="row my-50 pl-80 pr-20  ">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div id="ss-back-box" >
          <div class="col-md-8">
            <video poster="https://roocket.ir/public/image/2018/9/23/flutter-1.png" controls id="video-player" preload="auto" playsinline=""><source src="https://roocket.ir/download/episode/1175/online?mac=$2y$10$t67u75aXUJ59eg6TO/1iGenkkRX0IHYdIfBAVl8jTCt5vZdx5nK9S&timestamp=1539377676" type="video/mp4"></video>
            <h4  class="IranSans text-lights" id="figcaptionp" style="padding-right: 10px">دوره آموزشی Flutter</h4>
          </div>
          <div class="col-md-3">
            <div class="ss-card ss-hover-yellow p-20 details-card">
                <h6>برای دسترسی به این دوره نیاز است بصورت نقدی این دوره را خریداری کنید و این دوره بخشی از دوره های اعضای ویژه نمیباشد</h6>
                <hr>
              <div class="flex" style="justify-content: space-between;">
                <p>تعداد شرکت کنندگان</p>
                <p> 56 نفر</p>
              </div>
              <div class="flex" style="justify-content: space-between;">
                <p>قیمت دوره</p>
                <p> 120000 تومان</p>
              </div>
              <div class="flex" style="justify-content: space-between;">
                <p>وضعیت دوره</p>
                <p>تکمیل</p>
              </div>
                <hr>
                <a class="btn-green-outline " style="    width: 100%;
    border-radius: 8px;">خریداری این دوره</a>
            </div>
          </div>



        </div>

      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row my-50">
      <div class="col-md-2"></div>
      <div class="col-md-8 m-20  ">
        <div class=" ss-card my-100 py-30">
          <div class="row " >
            <h3 class="px-20 py-10" >توضیحات</h3>
            <p class="px-40 font-15 align-right">
              Flutter یک Software Development Kit و یا به اختصار SDK است که به ما کمک میکند اپلیکیشن های موبایلی با UI بسیار زیبا برای دو پلتفرم اندروید و ios ایجاد کنیم . یکی از ویژگی های مهم flutter این است که در زمان خروجی گرفتن از کدها به ما خروجی Native مربوط به هر پلتفرم را میدهد که به این صورت کارای اپلیکیشن های ما را بسیار بالا میبرد . زمان زیادی از ارائه Flutter نمیگذرد اما این ابزار در حال کسب محبوبیت بسیار زیادی است .
            </p>
            <p class="px-40 py-20 font-15 align-right">
              در این دوره قصد داریم که بصورت کامل کار با Flutter را به شما آموزش دهم برای کسب اطلاعات بیشتر حتما قسمت معرفی را مشاهده کنید</p>
            <div class="px-20">
              <img  style="width: 90%;height: auto"  src="https://roocket.ir/public/images/2018/9/23/flutter_eman_blog.png">
            </div>



          </div>
          <div class="row  flex" style="justify-content: space-between;">

            <h3 class="p-20" >آموزش  Flutter</h3>
            <a class="p-15 m-15">زمان کل دوره:22:22:10</a >
          </div>


          <div class="col-md-12">

                <div class="m-20  ss-card ss-hover-yellow">
                  <div class="p-20 flex" style="justify-content: space-between;">
                    <h4 class="mt-10">1 </h4>
                    <p class="px-35 color-turquise-dark"> قسمت 1 </p>
                    <p class="px-35">30:19:42      <a><i class="mdi mdi-clock font-15 "></i></a></p>
                  </div>
                </div>
            <div class="m-20  ss-card ss-hover-yellow">
              <div class="p-20 flex" style="justify-content: space-between;">
                <h4 class="mt-10">1 </h4>
                <p class="px-35 color-turquise-dark"> معرفی Flutter
                </p>
                <p class="px-35">30:19:42      <a><i class="mdi mdi-clock font-15 "></i></a></p>
              </div>
            </div>
            <div class="m-20  ss-card ss-hover-yellow">
              <div class="p-20 flex" style="justify-content: space-between;">
                <h4 class="mt-10">1 </h4>
                <p class="px-35 color-turquise-dark"> قسمت 1 </p>
                <p class="px-35">30:19:42      <a><i class="mdi mdi-clock font-15 "></i></a></p>
              </div>
            </div>
            <div class="m-20  ss-card ss-hover-yellow">
              <div class="p-20 flex" style="justify-content: space-between;">
                <h4 class="mt-10">1 </h4>
                <p class="px-35 color-turquise-dark"> قسمت 1 </p>
                <p class="px-35">30:19:42      <a><i class="mdi mdi-clock font-15 "></i></a></p>
              </div>
            </div>
            <div class="m-20  ss-card ss-hover-yellow">
              <div class="p-20 flex" style="justify-content: space-between;">
                <h4 class="mt-10">1 </h4>
                <p class="px-35 color-turquise-dark"> قسمت 1 </p>
                <p class="px-35">30:19:42      <a><i class="mdi mdi-clock font-15 "></i></a></p>
              </div>
            </div>
            <div class="m-20  ss-card ss-hover-yellow">
              <div class="p-20 flex" style="justify-content: space-between;">
                <h4 class="mt-10">1 </h4>
                <p class="px-35 color-turquise-dark"> قسمت 1 </p>
                <p class="px-35">30:19:42      <a><i class="mdi mdi-clock font-15 "></i></a></p>
              </div>
            </div>
            <div class="m-20  ss-card ss-hover-yellow">
              <div class="p-20 flex" style="justify-content: space-between;">
                <h4 class="mt-10">1 </h4>
                <p class="px-35 color-turquise-dark"> قسمت 1 </p>
                <p class="px-35">30:19:42      <a><i class="mdi mdi-clock font-15 "></i></a></p>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>


    <div class="row my-50 bg-black-light ">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="m-20 ss-card">
          <div class="row  flex" style="justify-content: space-between;">
            <h4 class="p-20" >دوره‌های پیشنهادی</h4>
            <a class="p-15 m-15 btn-turquise-outline" style="border-radius: 25px">مشاهده همه دوره ها</a >


          </div>
          <div class="col-md-12">
            <div class="row ">
              <div class="col-md-4" >
                <div class="m-20  ss-card ss-hover-yellow" style="height: 300px">
                  <div class="ss-card-content">
                    <div class="ss-card-img ">
                      <img width="100%" height="auto" src="https://www.amphinicy.com/upload/blog/1000/39_d3logo.png">
                    </div>
                    <h4 class="mt-10">آموزش  D3 </h4>
                  </div>
                  <div class="ss-card-footer flex" style="justify-content: space-between;">
                    <p class="px-35 color-turquise-dark"> اعضای ویژه </p>
                    <p class="px-35">30:19:42      <a><i class="mdi mdi-clock font-15 "></i></a></p>
                  </div>
                </div>
              </div>


              <div class="col-md-4" >
                <div class="m-20  ss-card ss-hover-yellow" style="height: 300px">
                  <div class="ss-card-content">
                    <div class="ss-card-img ">
                      <img width="100%" height="auto" src="https://roocket.ir/public/image/2018/9/23/flutter-1.png">
                    </div>
                    <h4 class="mt-10">آموزش Flutter </h4>
                  </div>
                  <div class="ss-card-footer flex" style="justify-content: space-between;">
                    <p class="px-35 color-turquise-dark">  100,000 تومان </p>
                    <p class="px-35">20:19:00      <a><i class="mdi mdi-clock font-15 "></i></a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4" >
                <div class="m-20  ss-card ss-hover-yellow" style="height: 300px">
                  <div class="ss-card-content">
                    <div class="ss-card-img ">
                      <img width="100%" height="auto" src="https://www.microsoft.com/net/images/redesign/social/large.png">
                    </div>
                    <h4 class="mt-10">آموزش  .net </h4>
                  </div>
                  <div class="ss-card-footer flex" style="justify-content: space-between;">
                    <p class="px-35 color-turquise-dark"> رایگان </p>
                    <p class="px-35">10:19:42      <a><i class="mdi mdi-clock font-15 "></i></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-2"></div>
    </div>



  </div>
</div>
